body{
        background-color:#7c94a4;
}
.btn-primary {
        background-color: #7c94a4 !important;
        border-color: #7c94a4 !important;
        
 
        
    }
.Close{
        background-color: #5683a5 !important; /* Đổi màu theo ý muốn */
        border-color: #5085ae !important;
}
.Next{
        background-color: #203e55 !important; /* Đổi màu theo ý muốn */
        
}

.btn-primary:hover {
        background-color: #5a6f7f !important; /* Đổi màu theo ý muốn */
        border-color: #5a6f7f !important;
 }
 .btn-secondary{
        background-color: #203e55 !important; /* Đổi màu theo ý muốn */
        border-color: #203e55 !important;
 }
 .btn-secondary:hover{
        background-color: #356e99 !important; /* Đổi màu theo ý muốn */
        border-color: #356e99!important;
 }
 .btn-
.In{
        padding:20px;
        font-weight:bold;
        font-size:60px;
}
.Overlay{
        position: absolute;
        top: 55%; /* Giữ nguyên để căn giữa theo chiều dọc */
        left: 43%; /* Điều chỉnh để di chuyển sang trái hoặc phải */
        right: 50%;
        width: 70%; /* Kích thước của lớp phủ */
        height: 70%; /* Kích thước của lớp phủ */
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-30%, -50%); /* Điều chỉnh để căn chỉnh chính xác */
}

.Tệp{
        position: relative; /* Hoặc absolute */
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: left;
        font-weight:bold;
        font-size:30px;
        margin-left: -650px; /* Di chuyển sang bên trái */
        margin-top: -200px;
}
.custom-dropdown-btn {
        background-color: #162c3b !important; /* Blue */ 
        min-width: 200px;
        font-size: 24px;
        color: rgb(242, 242, 242);
        border: none;
}
      
.custom-dropdown-btn:hover {
        background-color: #0056b3; /* Darker blue on hover */
}
      
.custom-dropdown-menu {
        background-color: #f1f1f1; /* Light gray */
        color: #333;
      }
      
.custom-dropdown-menu .dropdown-item:hover {
        background-color: #6091b6; /* Darker gray on hover */
}
      
.board_selectfile{
        position: absolute;
        top: 40%; /* Giữ nguyên để căn giữa theo chiều dọc */
        left: 30%; /* Điều chỉnh để di chuyển sang trái hoặc phải */
        right: 50%;
        width: 29%; /* Kích thước của lớp phủ */
        height: 10%; /* Kích thước của lớp phủ */
        background-color: #7c94a4;
        opacity: 1;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-30%, -50%); /* Điều chỉnh để căn chỉnh chính xác */
}
.selectFile{
        position: absolute; /* Hoặc absolute */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        font-weight:bold;
        font-size:33px;
        margin-left: -8px; /* Di chuyển sang bên trái */
        margin-top: -80x;
}
.board_print{
        
        position: absolute;
        top: 40%; /* Giữ nguyên để căn giữa theo chiều dọc */
        left: 70%; /* Điều chỉnh để di chuyển sang trái hoặc phải */
        right: 50%;
        width: 20%; /* Kích thước của lớp phủ */
        height: 10%; /* Kích thước của lớp phủ */
        background-color: #0B4661;
        opacity: 1;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-30%, -50%); /* Điều chỉnh để căn chỉnh chính xác */
}
.printletter{
        position: absolute; /* Hoặc absolute */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:aliceblue;
        text-align: left;
        font-weight:bold;
        font-size:33px;
        margin-left: -7px; /* Di chuyển sang bên trái */
        margin-top: -80x;
}